html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  display: flex;
  justify-content: center;
}

img {
  height: 50%;
  width: 90%;
  border-radius: 5%;
}

.line {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 600px;
  border-radius: 5%;
  background-color: hsl(215, 32%, 27%);
}
